<!DOCTYPE html>
<html>
  <head>
    <title>Upper Room Clinic</title>
    <meta name="description" content="The Uppper Room Clinic located on Spadina Avenue, Toronto, Ontario, Canada provides personalized care through holistic and innovative medicine approaches to help you heal. Release your inner superpowers.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


      <%= yield %>

      
  </body>
</html>
